.PageHeader {
  background-color: var(--yellow);
  color: var(--reallydarkgray);
  padding: 15rem 0;
}

.PageHeader .BackgroundImage {
  opacity: 0.8;
}

.PageHeader-large {
  padding: 20rem 0;
  text-align: center;
  width: 100%;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  background-size: cover;
  overflow: hidden;
  background-position: center center;
  margin: 0px auto;
  padding: 88px 0px;
}

.PageHeader--Title {
  font-size: 4.5rem;
  font-weight: 500;
  margin-bottom: 0;
}

.PageHeader--Subtitle {
  font-weight: 400;
  font-size: 1.8rem;
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}



@media (max-width: 600px) {
  .PageHeader {
    padding:  0;
  }
  .PageHeader-large {
    padding: 0; 
    min-height: 80vh;
  }
  .PageHeader--Title {
    font-size: 2.5rem;
  }
}